<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="style.css" />
  <title>URL Shortener</title>
</head>
<body>
  
  <div class="main">
    <div class="container">
    <h1>URL Shortener</h1>
    <form action="/" method="POST" id="shorten-form">
      <div>
        <label for="url">Enter URL:</label><br />
        <input type="url" id="url" name="url" required />
      </div>
      <div>
        <label for="shortCode">Enter Short-Code:</label><br />
        <input type="text" id="shortCode" name="shortCode" required />
      </div>
      <button type="submit">Shorten</button>
      
    </form>
     <form action="/delete-all" method="POST" onsubmit="return confirm('Are you sure you want to delete all short links?');">
  <button type="submit" class="deleteAll">Delete All Short Links</button>
</form>
    
    <div id="result">
      <h2>Shortened URLs</h2>
      <ul class="shortened-urls">
        {{shortened-urls}}
      </ul>
    </div>
  </div>
  </div>

</body>
</html>
