*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    width:400px;
    margin-top:100px;
    box-shadow: 0px 0px 5px 2px rgb(75, 72, 72);
    padding: 20px;
    border-radius: 10px;
}
h1,h2{
    text-align: center;
    margin-bottom: 20px;
}
#shorten-form input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
#shorten-form button{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin: 10px 0;
}
.shortened-urls li a{
    color:rgb(54, 59, 187);
    margin-bottom: 10px;
    text-decoration: none;
    width: 100%;
    display: block;
    text-align: center;
}
.shortened-urls li{
    list-style: none;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}
